.matchesContainer .title {
    font-size:1em;
    font-weight: 400;
    text-align: center;
    margin: 20px 0;
}

.matchesContainer {
    width: 336px;
    margin: 0 auto;
}

.matchesFlexWrapper {
    display:flex;
    flex-wrap:wrap;
}

.matchesContainer .match {
    width: 100px;
    margin: 6px;
    height:150px;
    cursor: pointer;
    position: relative;
    transition: opacity 250ms ease, transform 400ms ease;
}

.matchesContainer .match:hover {
    transform: scale(1.0825);
}

.matchesContainer .match.faded {
    opacity: .25;
}

.matchesContainer .match.active {
    opacity: 1;
}

.matchesContainer .matchCard {
    height: 100%;
    width:100%;
    padding: 20px;
    box-shadow: 0 20px 55px 0px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    background-size: cover;
    background-position: center top;
    position: relative;
    background-repeat: no-repeat;
}

.matchCard h3 {
    font-size: 1.125em;
    font-weight: bold;
    color: #fff; 
 }
 
 .matchCard .desc-container {
     position: absolute;
     margin:5px;
     bottom:0;
     left:0;
     text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.55);
 }