.chatListingWrapper {
    display:flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    padding: 1em 0;
    position: relative;
    transition: all 200ms ease;
    background-color: whitesmoke;
    z-index: 1;
}

.chatListingWrapper .chatListingInside {
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.chatListingWrapper .chatListingDescWrapper {
    width: 60%;
}

.chatListingWrapper.active {
    z-index: 10 !important;
    background-color: white !important;
}

.chatListingWrapper:hover,
.chatListingWrapper.active {
    z-index: 5;
    background-color: rgb(252, 252, 252);
    box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.125);
}

.chatListingWrapper::after {
    content: "";
    width: 5px;
    height: 100%;
    background-color: unset;
    position: absolute;
    top:0;
    right:0;
    transition: all 200ms ease;
}

.chatListingWrapper:hover::after,
.chatListingWrapper.active::after {
    background-color: rgba(255, 14, 94, 0.877);
}

.chatListingWrapper .chatListingPic {
    width: 75px;
    height: 75px;
    background-size: cover;
    border-radius: 50%;
    position: relative;
}

.chatListingPic div.online {
    right:.1em;
    bottom:.1em;
    top: unset;
}

.chatListingWrapper .chatListingName {
    font-weight: bold;
    font-size: 1.25em;
}