.profileImg div {
  padding: 15px 30px;
  border-radius: 21px;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.5);
  border: none;
  color:white;
  font-weight: 400;
  font-size: 1.125em;
  cursor: pointer;
  background: rgb(180,58,165);
  background: linear-gradient(220deg, rgba(180,58,165,0.925) 0%, rgba(255,78,78,0.925) 100%);
  margin: .5em 0;
}

.profileImgUploadWrapper {
    display: flex;
    justify-content: center;
}

.profileImgWrapper {
    display:flex;
    justify-content: center;
    align-items: center;
}

.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus,
.react-calendar__tile--active {
    background: linear-gradient(220deg, rgba(180,58,165,0.925) 0%, rgba(255,78,78,0.925) 100%) !important;
}

.react-calendar__tile {
    border-radius: 12px !important;
}



.profileImgWrapper div {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 400px;
    width: 300px;

    border-radius: 12px;
    box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.5);   
}

.registerWrapper {
    width:100vw;
    min-height: calc(100vh - 40px);
    padding-top: 35px;
    overflow:hidden;
    display:flex;
    justify-content: center;
    align-items: center;
}

.registerWrapper form div div > div:not(.react-calendar *){
    margin: 20px 0;
}

.flexColumn {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.react-calendar__tile:disabled {
    border-radius: 0 !important;
}

.react-calendar__tile--hasActive {
    background: linear-gradient(220deg, rgba(180,58,165,0.925) 0%, rgba(255,78,78,0.925) 100%) !important;
    color: white !important;
}

.flexColumn > div:not(.flexbasis100) {
    margin:20px 40px;
}

.flexColumn div.inputTitle {
    margin-bottom: 12px;
}

.flexColumnWrapper {
    display:flex;
    flex-basis: 62.5%;
    flex-wrap: wrap;
    justify-content: center;
}

.profileImgHeadWrapper {
    float:left;
    width: 500px;
    min-height: calc(100vh - 40px);
}

.registerWrapper form div div div > div:first-child:not(.react-calendar *) {
    font-size: 1.25em;
    margin-left: .25em;
    margin-bottom: .5em;
}

button#signUp {
    width: 250px;
}

.flexbasis100 {
    flex-basis: 100% !important;
}

.buttonLast {
    margin: 40px 0;
    text-align: center; 
}

#profileImg {
    display: none;
}

.hidden {
    display:none;
}

button#birthDateButton {
    padding: 0;
    padding-left: .75em;
    background-color: hsl(0,0%,100%);
    border-color: hsl(0,0%,80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    font-size: 1em;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 263px;
    position: relative;
    transition: border-color 100ms ease;
}

span.textBirth {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: black;
}

button#birthDateButton.placeholder span.textBirth {
    color: hsl(0,0%,50%);
}


button#birthDateButton:hover {
    border-color: rgb(180,58,165);
}

button#birthDateButton.active {
    border-color: rgb(180,58,165) !important;
}

.birthDateWrapper {
    overflow: visible;
}

.birthDateWrapper .react-calendar {
    position: absolute;
    width: 350px;
    z-index:10;
    margin: 2px 0;
    border-color: rgb(180,58,165) !important;
}

button#birthDateButton span {
    padding: 4px 0;
    margin: 2px 0;
}

.css-2b097c-container {
    width: 263px;
}

.css-1okebmr-indicatorSeparator {
    background-color: unset !important;
    border-left: 1px solid hsl(0,0%,80%);
    width: auto !important;
}

button#birthDateButton span.symbolsBirth svg path {
    transition: color 200ms ease;
}

button#birthDateButton:hover span.symbolsBirth svg path,
button#birthDateButton span.symbolsBirth.hover svg path,
button#birthDateButton.active:not(.hasValue) span.symbolsBirth svg path
{
    color:darkgray;
}


span.symbolsBirth {
    display:flex;
    align-items: center;
}

span.symbolsBirth svg {
    margin: 0 6px;
    color: lightgray;
}

button#birthDateButton:focus {
    outline: none;
}

.profileImgUpload {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 350px;
}

span.uploadIcon {
    display:flex;
}

span.uploadIcon .MuiSvgIcon-root{
    color: white;
    margin-right: .5em;
    font-size:1.75em;
}