.sidebar {
  float: left;
  left: 0;
  top: 0;
  width: 360px;
  padding: 0 10px;
  border-right: 1px solid rgb(228, 228, 228);
  min-height: 100vh;
  background-color: #fff;
}

.emptyWrapper {
  float: left;
  height: 100vh;
  background-color: rgb(236, 236, 236);
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emptyWrapper .emptyInside {
    width: 250px;
    height: 250px;
    margin-top: -70px;
}

.emptyWrapper .emptyInside .pictureEmpty {
    width: calc(100% + 10px);
    left: -5px;
    top: -5px;
    height: calc(100% + 10px);
    background-size:cover;
    border-radius: 50%;
    border: 5px solid white;
    opacity: 1;
    z-index: 10;
    position: relative;
}

.emptyInside .pictureEmpty .circleOne {
    position: absolute;
    width: calc(100% + 10px);
    left: -5px;
    top: -5px;
    height: calc(100% + 10px);
    border-radius: 50%;
    z-index: 1;
    animation: circleOne 4.25s linear infinite;
}

.emptyInside .pictureEmpty .circleTwo {
    position: absolute;
    width: calc(100% + 10px);
    left: -5px;
    top: -5px;
    height: calc(100% + 10px);
    border-radius: 50%;
    z-index: 2;
    animation: circleTwo 4.25s linear infinite;
}

.emptyInside .pictureEmpty .circleOneCopy {
    position: absolute;
    width: calc(100% + 10px);
    left: -5px;
    top: -5px;
    height: calc(100% + 10px);
    border-radius: 50%;
    z-index: 3;
    animation: circleOne 4.25s linear infinite 2.125s;
}

.emptyInside .pictureEmpty .circleTwoCopy {
    position: absolute;
    width: calc(100% + 10px);
    left: -5px;
    top: -5px;
    height: calc(100% + 10px);
    border-radius: 50%;
    z-index: 4;
    animation: circleTwo 4.25s linear infinite 2.125s;
}

@keyframes circleTwo {
    0% {
        box-shadow: 0 0 0px 0px white;
        opacity: .25;
    }
    100% {
        box-shadow: 0 0 0px 200px white;
        opacity: 0;
    }
}

@keyframes circleOne {
    0% {
        box-shadow: 0 0 0px 0px red;
        opacity: .25;
    }
    100% {
        box-shadow: 0 0 0px 210px red;
        opacity: 0;
    }
}

.noConnections {
    text-align: center;
    font-size: 1.25em;
    width: 200%;
    margin-top: 40px;
    margin-left: -50%;
}

.tryRealLife {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.753);
    text-align: center;
}

.app {
  float: left;
  min-height: 100vh;
  background-color: rgb(236, 236, 236);
  width: calc(100% - 360px);
}
