.card {
    position: relative;
    height: 60vh;
    width: 400px;
    max-width: 85vw;
    padding: 20px;
    box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    overflow:hidden;
}

.card.profile {
    padding: 0 !important;
}

.slick-slider,
.slick-list,
.slick-track,
.slick-track div div {
    height: 100%;
}

.backgroundItem {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.slick-prev {
    left: 10px !important;
    z-index: 100 !important;
}

.slick-next {
    right: 10px !important;
    z-index: 100 !important;
}

.itemWrapper {
    outline: none !important;
}

.slick-next, .slick-prev {
    color: white !important;
    transition: opacity 200ms ease, visibility 0ms ease 200ms !important;
    opacity: 1;
    visibility: visible;
}

.slick-next {
    font-size: 2em !important;
}

.slick-prev {
    font-size: 2em !important;
}

.slick-disabled {
    opacity: 0;
    visibility: hidden;
}

.swipe {
    position: absolute;
}

.cardContainer {
    height: 65vh;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.card h3 {
    font-size: 2.25em;
    font-weight: 600;
    color: #fff; 
 }
 
 .card .desc-container {
     position: absolute;
     margin:10px;
     bottom:0;
     text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.55);
 }
 
 .card span.age {
     font-size:.725em;
     font-weight: 400;
 }
 
 .card .desc {
     font-size: 1.5em;
    font-weight: 300;
    color: #fff; 
 }