.profileSettingsItemsWrapper {
    width: 85%;
    margin: 0 auto;
}

.profileSettings {
    padding-top:30px;
}

.profileSettingsItemsWrapper .profileSettingsItem {
    background-color: white;
    text-align: center;
    padding: 0 1em;
    height: 52px;
    border:1px solid rgb(212, 212, 212);
    border-radius: 4px;
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.068);
}


.profileSettingsItem span {
    font-size: 1em;
    transition: all 250ms ease;
}

.profileSettingsItem:hover span {
    font-size: 1.125em;
}