button.dropdown {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0;
    padding-left: .75em;
    background-color: hsl(0,0%,100%);
    border-color: rgb(133, 133, 133);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-size: 1em;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 200px;
    position: relative;
    transition: border-color 100ms ease;
}


button.dropdown.placeholder span.textBirth {
    color: hsl(0,0%,50%);
}

.profile-pic {
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

.profile-pic svg {
    color: rgb(82, 137, 255);
    font-size: 1.375em;
    opacity: .925;
}

.cross-delete {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.cross-delete svg {
    color: rgb(255, 93, 93);
    font-size: 1.375em;
    opacity: .925;
}

button.dropdown:hover {
    border-color: rgb(93, 93, 93);
}

button.dropdown.active {
    border-color: rgb(185, 36, 148) !important;
}

button.dropdown span {
    margin: 5px 0;
    display:flex;
    justify-content: center;
    align-items: center;
}

button.dropdown span svg {
    color: rgb(129, 129, 129);

}

.dropdownImages {
    min-height: 240px;
    width:100%;
    margin-top: 4px;
    padding: 10px 5px;
    border-radius: 4px;
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.085), inset 0 0 8px 2px rgba(0,0,0,0.085);
    background-color: whitesmoke;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.imgItem {
    position: relative;
    height: 200px;
    width: 145px;
    border-radius: 4px;
    margin: 5px 0 5px 5px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.25);
}

.imgItem.plus {
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
    box-shadow: inset 0 0 8px 2px rgba(0,0,0,0.085);
    border: 2px solid rgb(228, 228, 228);
}

.imgItem.plus svg {
    font-size: 2em;
    color:rgb(68, 68, 68);
}

.dropdownImages.hidden {
    display:none;
}

.css-1okebmr-indicatorSeparator {
    background-color: unset !important;
    border-left: 1px solid rgb(131, 131, 131);
    width: auto !important;
    align-self: stretch;
}

button.dropdown span svg path {
    transition: color 200ms ease;
}

button.dropdown:hover span svg,
button.dropdown.active span.hover svg,
button.dropdown.active:not(.hasValue) span svg
{
    color:rgb(92, 92, 92);
}

button.dropdown.active span svg {
    color: rgb(82, 82, 82);
}

button.dropdown.active span.symbolGallery svg {
    color: rgb(185, 36, 148);
}


span.symbolsBirth {
    display:flex;
    align-items: center;
}

span.symbolsBirth svg {
    margin: 0 6px;
    color: rgb(149, 149, 149);
}

button.dropdown:focus {
    outline: none;
}