.header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    margin-bottom: 20px;
    background-color: white;
    border-bottom: 1px solid rgb(210,210,210);
}

.flexProfileWrapper {
    display:flex;
    align-items: center;
    transition: all 320ms ease;
}

.flexProfileWrapper:hover {
    transform: scale(1.125);
}

.titleProfile {
    font-size: 1em;
    font-weight: 600;
    margin-left: 12px;
    letter-spacing: .0125em;
}

.header__logo {
    object-fit: contain;
    height: 40px;
}

.appIcon {
    animation: logoMoveOut 500ms 0s 1 ease;
}

.appIcon .MuiTouchRipple-root {
    display: none;
}

.appIcon:hover {
    background-color: unset !important;
    animation: logoMoveIn 500ms 0s 1 ease;
    transform: scale(1.25);
}

@keyframes logoMoveOut {
    0% {
        transform: rotate(0deg) scale(1.25);
    }

    50% {
        transform: rotate(-30deg) scale(1.25);
    }

    100% {
        transform: rotate(0deg) scale(1);
    }
}

@keyframes logoMoveIn {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(-30deg) scale(1.25);
    }

    100% {
        transform: rotate(0deg) scale(1.25);
    }
}

.profilePicWrapper:hover {
    transform: scale(1.125);
}

.profilePicWrapper {
    position: relative;
    min-width: 3.25em;
    min-height: 3.25em;
    transition: all 250ms ease;
}

.profilePic {
    z-index: 2;
    position: absolute;
    background-color: white;
    background-position: top center;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}