.header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    margin-bottom: 20px;
    background-color: white;
    border-bottom: 1px solid rgb(210,210,210);
}

.flexProfileWrapper {
    display:flex;
    align-items: center;
    transition: all 320ms ease;
}

.flexProfileWrapper:hover {
    transform: scale(1.125);
}

.titleProfile {
    font-size: 1em;
    font-weight: 600;
    margin-left: 12px;
    letter-spacing: .0125em;
}

.header__logo {
    height: 48px;
    transition: transform 250ms ease;
}

.appIcon .MuiTouchRipple-root {
    display: none;
}

.header__logo:hover {
    transform: scale(1.25);
}

.profilePicWrapper {
    position: relative;
    min-width: 3.25em;
    min-height: 3.25em;
    transition: all 250ms ease;
}

.profilePic {
    z-index: 2;
    position: absolute;
    background-color: white;
    background-position: top center;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}