* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div.errorWrapper {
  margin-top: 4px;
  margin-left: 6px;
  font-size: .825em;
  color: rgb(70, 70, 70);
}

.invalid {
  border-color: rgba(207, 64, 64, 0.404) !important;
}

button.styled {
  padding: 15px 30px;
  border-radius: 18px;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.5);
  border: none;
  color:white;
  font-weight: 500;
  font-size: 1.125em;
  cursor: pointer;
  background: rgb(180,58,165);
  background: linear-gradient(90deg, rgba(180,58,165,0.925) 0%, rgba(255,78,78,0.925) 100%);
  margin: .5em 0;
}

input.styled,
textarea.styled {
  padding: 15px 20px;
  font-size: 1.125em;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 4px 2px rgba(0,0,0,0.085);
  border-radius: 10px;
  background: transparent;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  width: 263px;
}

textarea.styled::placeholder {
  font-size: .925em;
}

select.styled {
  padding: 15px 20px;
  font-size: 1.125em;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 4px 2px rgba(0,0,0,0.085);
  border-radius: 10px;
}

input.styled:-webkit-autofill {
  box-shadow: 0 0 0 30px white inset, 0 0 4px 2px rgba(0, 0, 0, 0.1);
}

input.styled:focus,
button.styled:focus,
select.styled:focus,
textarea:focus {
  outline:none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
