.card {
    position: relative;
    height: 60vh;
    width: 400px;
    max-width: 85vw;
    padding: 20px;
    box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.tinderCards__cardContainer {
    height: 65vh;
    display:flex;
    justify-content: center;
    margin-top: 10vh;
}

.swipe {
    position: absolute;
}

.cardContent {
    width:100%;
    height:100%;
}

.card h3 {
   font-size: 2.25em;
   font-weight: 600;
   color: #fff; 
}

.card .desc-container {
    position: absolute;
    margin:10px;
    bottom:0;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.55);
}

.card span.age {
    font-size:.725em;
    font-weight: 400;
}

.card .desc {
    font-size: 1.5em;
   font-weight: 300;
   color: #fff; 
}