.card {
    position: relative;
    height: 60vh;
    width: 420px;
    max-width: 85vw;
    padding: 0;
    box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.125);
    border-radius: 12px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.tinderCards__cardContainer {
    height: 65vh;
    display:flex;
    justify-content: center;
    margin-top: 10vh;
}

.swipe {
    position: absolute;
}

.cardContent {
    width:100%;
    height:100%;
}

.card h3 {
   font-size: 2.25em;
   font-weight: 600;
   color: #fff; 
}

.card .desc-container {
    position: absolute;
    margin:10px;
    bottom:0;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.55);
}

.card span.age {
    font-size:.725em;
    font-weight: 400;
}

.card .desc {
    font-size: 1.5em;
   font-weight: 300;
   color: #fff; 
}

.newMatchWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0,0,0,0.5);
    visibility: hidden;
    backdrop-filter: blur(4px);
    opacity: 0;
    transition: opacity 250ms ease, visibility 250ms ease;
}

.closeNewMatch {
    position: absolute;
    z-index: 10;
    right: -50px;
    cursor: pointer;
}

.closeNewMatch svg {
    color: white;
    font-size: 2.5em;
    transition: color 250ms ease;
}

.closeNewMatch:hover svg {
    color: #3EEA9E;
    font-size: 2.5em;
}

.newMatchWrapper.active {
    visibility: visible;
    opacity: 1;
}

.newMatchWrapper .newMatchContainer {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    position: relative;
}